extends layout

block head
  link(rel='stylesheet', type='text/css', href='/stylesheets/echo.css')
  script(src='javascripts/echo.js')

block content
  form.echo
    input(type='text', id='message')
    input(type='submit', id='submit')
  
  #output.echo