extends layout

block content
  ul
    li
      a(href='#{settings.config.collections.routeIndex}') #{settings.config.phrases.collections}
    li
      a(href='#{settings.config.boards.routeIndex}') #{settings.config.phrases.boards}