body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#error {}
  #error .message { color: red; font-weight: bold; }
  #error .code { color: lightgrey; font-size: 0.8em; font-style: italic; }